@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/varela_round-webfont.eot');
  src: url('../fonts/varela_round-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/varela_round-webfont.woff') format('woff'),
  url('../fonts/varela_round-webfont.ttf') format('truetype'),
  url('../fonts/varela_round-webfont.svg#varela_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-webfont.eot');
  src: url('../fonts/montserrat-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-webfont.woff') format('woff'),
  url('../fonts/montserrat-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** main classes **/
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f1f1f1;
  font-family: "Varela Round",sans-serif;
  margin-bottom: 50px;
}

.content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

dd {
  margin-left: 10px;
}

a {
  color: #5fa134;
  -moz-user-select: none;
}

a:hover,
a:active {
  color: #5fa134;
}

pre {
	white-space: pre;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222;
  color: #fff;
}

.glyphicon-white {
  color: #fff;
}

.btn-no-border-left {
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-no-border-right {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.bottom-margin {
  margin-bottom: 20px;
}

.no-margin-left {
  margin-left: 0;
}

.main-loader-mask {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 180px 15px 50px;
  background-color:#f1f1f1;
  z-index:9999;
}
.loading-big {
  display: block;
  position: absolute;
  bottom: 0;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0;
  background: url("../img/loading-big.gif") no-repeat center;
}

/** TAB LEFT **/
.tab-content {
  overflow: auto;
}

.tabs-left > .nav {
  border-right: 1px solid #ddd;
  float: left;
  margin-right: 19px;
}

/** NVD3 **/
.nvd3 text, div.nvtooltip {
	font-size: 14px;
}

/** HEADER **/
.header--navbar {
  margin: 0;
}

.navbar {
  border: 0;
}

.navbar-nav>li>span {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  display: block;
  font-size: 20px;
}

.navbar-static-top {
  font-family: Montserrat,sans-serif;
  position: absolute;
  z-index: 999;
  background-image: none;
  filter: none;
  background-color: #34302d;
  border: none;
  border-top: 4px solid #6db33f;
  box-shadow: none;
  position: relative;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0;
}
.navbar-static-top .spring-logo--container {
  display: inline-block;
}
.navbar-static-top .spring-logo--container .spring-logo {
  margin: 12px 0 6px;
  width: 160px;
  height: 46px;
  display: inline-block;
  text-decoration: none;
}
.navbar-static-top .navbar-link.active a {
  background-color: #6db33f;
  box-shadow: none;
}
.navbar-static-top .navbar-link a {
  color: #eeeeee;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  line-height: 14px;
  padding: 28px 20px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}
.navbar-static-top .navbar-link:hover a {
  color: #eeeeee;
  background-color: #6db33f;
}
.navbar-static-top .navbar-link.nav-search {
  padding: 20px 0 23px;
}
.navbar-static-top .navbar-link.nav-search .navbar-search--icon {
  color: #eeeeee;
  font-size: 24px;
  padding: 3px 16px 3px 18px;
  cursor: pointer;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.navbar-static-top .navbar-link.nav-search:hover .navbar-search--icon {
  text-shadow: 0 0 10px #6db33f;
}
.navbar-static-top .navbar-link.nav-search .search-input-close {
  display: none;
}
.navbar-static-top .navbar-link.nav-search.js-highlight {
  background-color: #6db33f;
}

a.spring-logo {
  background: url("../img/spring-logo.png") -1px -1px no-repeat;
}

a.spring-logo span {
  display: block;
  width: 160px;
  height: 46px;
  background: url("../img/spring-logo.png") -1px -48px no-repeat;
  opacity: 0;
  -moz-transition: opacity 0.12s ease-in-out;
  -webkit-transition: opacity 0.12s ease-in-out;
  -o-transition: opacity 0.12s ease-in-out;
}

a:hover.spring-logo span {
  opacity: 1;
}

.icon-bar {
  background-color: white;
}

/** FOOTER **/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #34302d;
  color: #eeeeee;
  height: 50px;
  padding: 20px 0;
}
.footer a {
  color: #6db33f;
}

/** LOGOS **/
a.spring-boot-logo {
  background: url("../img/platform-spring-boot.png") -1px -1px no-repeat;
}

a.spring-boot-logo span {
  display: block;
  width: 160px;
  height: 50px;
  background: url("../img/platform-spring-boot.png") 20px -6px no-repeat;
}

a:hover.spring-boot-logo span {
  opacity: 1;
}

/** Status in Application Overview-View **/
span.status-UP {
	color: #00AA00;
	font-weight: bold;
}
 
span.status-OFFLINE {
	color: #000000;
	font-weight: bold;
}
 
span.status-DOWN,
span.status-OUT_OF_SERVICE {
	color: #DD0000;
	font-weight: bold;
}
 
span.status-UNKNOWN,
span.status-STARTING {
	font-weight: bold;
	color: #FF8800;
}

span.refresh {
	display: block;
	width: 16px;
	height: 16px;
	background: url("../img/refresh.gif")  no-repeat;
}

/** Headings and Tabs in Detail-View  **/
.panel-heading ,
.panel-heading > .panel-title > a,
.panel-heading > .panel-title > a:hover,
.panel-heading > .panel-title > a:focus,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table > thead > tr > th {
	background-color: #34302D !important;
	border-color: #34302D !important;
	color: #f1f1f1 !important;
}

.nav > li > a {
  color: #838789;
}

.nav {
  margin-bottom: 0;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table > thead > tr > th {
  background-color: #34302D !important;
  border-color: #34302D !important;
  color: #f1f1f1 !important;
}

.tabs-inverse > .nav-pills > li > a {
  background-color: #34302D !important;
  border-color: #34302D !important;
  color: #f1f1f1 !important;
}

.tabs-inverse > .nav-pills > li > a:hover,
.tabs-inverse > .nav-pills > li > a:focus {
  color: #6db33f !important;
}

.tabs-inverse > .nav-pills > li.active > a {
  background-color: #6db33f !important;
  border-color: #6db33f !important;
  color: #f1f1f1 !important;
}


.tabs-inverse > .nav-pills > li.active > a > tab-heading > div > span.label-success {
  background-color: #34302D !important;
}

/** highlighted rows on Detail-Environment-View **/
.table tr.highlight > td {
  background-color: #999 !important;
  font-weight: bold;
}

/** Tabs-list in domain-section in JMX-View **/
.tabs-left > ul {
  max-width: 30%;
  overflow: hidden;
}

/** Circuit breaker **/
.row-centered {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.dependencies {
  line-height: 1;
}

.last {
  margin-right: 0px;
}

.menu_legend {
  margin-right: 20px;
}

.success {
  color: green;
}
.shortCircuited {
  color: blue;
}
.timeout {
  color: #FF9900;	 /* shade of orange */
}
.failure {
  color: red;
}

.rejected {
  color: purple;
}

.exceptionsThrown {
  color: brown;
}

/** Headings and Tabs in Detail-View  **/
.accordion-heading ,
.accordion-heading > a,
.accordion-heading > a:hover,
.accordion-heading > a:focus,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.table > thead > tr > th {
  background-color: #34302D;
  border-color: #34302D;
  color: #f1f1f1;
}

.accordion-group,
.boxed {
  border: 1px solid #34302D;
}

.sortable {
  cursor: pointer;
}

.sorted-ascending,
.sorted-descending {
  color: #6db33f;
}

.sorted-ascending::after {
  content: " \25b2";
}
.sorted-descending::after {
  content: " \25bc";
}

.nav > li > a {
  color: #838789;
}

.nav {
  margin-bottom: 0;
}

/** Tabs-list in domain-section in JMX-View **/
.tabs-left > ul {
  max-width: 30%;
  overflow: hidden;
}

/** health status**/
dl.health-status > dt {
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  line-height: 20px;
  padding: 8px;
}

dl.health-status {
  margin-top: 0px;
}

dl.health-status dl.health-status {
  margin-top: 20px !important;
}

dl.health-status td {
  border-top: none;
  border-bottom: 1px solid #ddd;
}


/** Metric Bars **/
.bar-offset {
  float: left;
  box-sizing: border-box;
  height: 100%;
}

.with-marks {
  position: relative;
}

.bar-scale {
  position: relative;
  margin-top: -20px;
  margin-bottom: 40px;
}

.pitch-line {
  position: absolute;
  width: 1px;
  background-image: linear-gradient(to bottom, #333333 5px, transparent 5px);
  background-repeat: repeat-x;
}

.value-mark {
  position: absolute;
  border-left: 1px solid #ee5f5b;
  font-size: 12px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.mark-current {
  width: 1px;
  height: 20px;
  position: absolute;
  background-color: #dd514c;
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
}

/** Timeline **/
.timeline {
  position: relative;
  list-style-type: none;
  padding: 1em 0 1em 120px;
}

.timeline:before {
  position: absolute;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: 0;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.timeline .event {
  position: relative;
  width: 100%;
  display: inline-block;
  left: 15px;
  padding-left: 5px;
  cursor:pointer;
}

.timeline .event .time {
  position: absolute;
  left: -120px;
  margin-left: -25px;
  display: inline-block;
  vertical-align: middle;
  text-align:right;
  width: 120px;
}

.timeline .event:before {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #6db33f;
  z-index: 10;
  position: absolute;
  left: -6px;
  margin-left: -15px;
}

.timeline .event:hover:before {
  background: #ccc;
}

/** Application-Header **/
.header--application .navbar-inner,
.header--application-urls .navbar-inner {
  font-family: Montserrat,sans-serif;
  z-index: 999;
  filter: none;
  background: #666 none;
  border: none;
  border-bottom: 1px solid #34302D;
  box-shadow: none;
  position: relative;
  border-radius: 0;
  padding: 0;
}

.header--application .application--name {
  font-family: "Montserrat",sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #ebf1e7;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header--application .navbar-inner .navbar-link a {
  color: #eeeeee;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 10px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}

.header--application .navbar-inner .navbar-link:hover a ,
.header--application .navbar-inner .navbar-link.active a {
  color: #ebf1e7;
  background-color: #666;
  box-shadow: none;
}

.header--application .navbar-inner .navbar-link a>span {
  transition: color 0.15s;
  -webkit-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -o-transition: color 0.15s;
  -ms-transition: color 0.15s;
}

.header--application .navbar-inner .navbar-link:hover a>span,
.header--application .navbar-inner .navbar-link.active a>span {
  border-top: 2px solid #6db33f;
  border-bottom: 2px solid #6db33f;
}

.header--application-urls .navbar-inner {
  background-color: #dedede;
}

.header--application-urls .navbar-inner li>a,
.header--application-urls .navbar-inner li>a:hover {
  text-shadow: none;
  color: #34302D;
}

.header--application-urls .navbar-inner li>a:hover {
  text-decoration:underline;
}

/** ENV **/
.refresh-env-alert {
  margin-top: 50px;
}