@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/varela_round-webfont.eot');
  src: url('../fonts/varela_round-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/varela_round-webfont.woff') format('woff'),
  url('../fonts/varela_round-webfont.ttf') format('truetype'),
  url('../fonts/varela_round-webfont.svg#varela_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-webfont.eot');
  src: url('../fonts/montserrat-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-webfont.woff') format('woff'),
  url('../fonts/montserrat-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** main classes **/
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f1f1f1;
  font-family: "Varela Round",sans-serif;
  margin-bottom: 50px;
}

.main-body--wrapper {
  margin-top: 20px;
  margin-bottom: 50px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #5fa134;
  -moz-user-select: none;
}

a:hover,
a:active {
  color: #5fa134;
}

pre {
	white-space: pre;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222;
  color: #fff;
}

.glyphicon-white {
  color: #fff;
}

.btn-no-border-left {
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-no-border-right {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.bottom-margin {
  margin-bottom: 20px;
}

/** TAB LEFT **/
.tab-content {
  overflow: auto;
}

.tabs-left > .nav {
  border-right: 1px solid #ddd;
  float: left;
  margin-right: 19px;
}

/** NVD3 **/
.nvd3 text, div.nvtooltip {
	font-size: 14px;
}

/** HEADER **/
.header--navbar {
  margin: 0;
}
.navbar {
  font-family: Montserrat,sans-serif;
  position: absolute;
  z-index: 999;
  background-image: none;
  filter: none;
  background-color: #34302d;
  border: none;
  border-top: 4px solid #6db33f;
  box-shadow: none;
  position: relative;
  border-radius: 0;
  padding: 0;
}
.navbar .spring-logo--container {
  display: inline-block;
}
.navbar .spring-logo--container .spring-logo {
  margin: 12px 0 6px;
  width: 160px;
  height: 46px;
  display: inline-block;
  text-decoration: none;
}
.navbar .navbar-link.active a {
  background-color: #6db33f;
  box-shadow: none;
}
.navbar .navbar-link a {
  color: #eeeeee;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  line-height: 14px;
  padding: 28px 20px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}
.navbar .navbar-link:hover a {
  color: #eeeeee;
  background-color: #6db33f;
}
.navbar .navbar-link.nav-search {
  padding: 20px 0 23px;
}
.navbar .navbar-link.nav-search .navbar-search--icon {
  color: #eeeeee;
  font-size: 24px;
  padding: 3px 16px 3px 18px;
  cursor: pointer;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.navbar .navbar-link.nav-search:hover .navbar-search--icon {
  text-shadow: 0 0 10px #6db33f;
}
.navbar .navbar-link.nav-search .search-input-close {
  display: none;
}
.navbar .navbar-link.nav-search.js-highlight {
  background-color: #6db33f;
}

a.spring-logo {
  background: url("../img/spring-logo.png") -1px -1px no-repeat;
}

a.spring-logo span {
  display: block;
  width: 160px;
  height: 46px;
  background: url("../img/spring-logo.png") -1px -48px no-repeat;
  opacity: 0;
  -moz-transition: opacity 0.12s ease-in-out;
  -webkit-transition: opacity 0.12s ease-in-out;
  -o-transition: opacity 0.12s ease-in-out;
}

a:hover.spring-logo span {
  opacity: 1;
}

.icon-bar {
  background-color: white;
}

/** FOOTER **/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #34302d;
  color: #eeeeee;
  height: 50px;
  padding: 20px 0;
}
.footer a {
  color: #6db33f;
}

/** LOGOS **/
a.spring-boot-logo {
  background: url("../img/platform-spring-boot.png") -1px -1px no-repeat;
}

a.spring-boot-logo span {
  display: block;
  width: 160px;
  height: 50px;
  background: url("../img/platform-spring-boot.png") 20px -6px no-repeat;
}

a:hover.spring-boot-logo span {
  opacity: 1;
}

/** Status in Application Overview-View **/
span.status-UP {
	color: #00AA00;
	font-weight: bold;
}
 
span.status-OFFLINE {
	color: #000000;
	font-weight: bold;
}
 
span.status-DOWN,
span.status-OUT_OF_SERVICE {
	color: #DD0000;
	font-weight: bold;
}
 
span.status-UNKNOWN,
span.status-STARTING {
	font-weight: bold;
	color: #FF8800;
}

span.refresh {
	display: block;
	width: 16px;
	height: 16px;
	background: url("../img/refresh.gif")  no-repeat;
}

/** Headings and Tabs in Detail-View  **/
.panel-heading ,
.panel-heading > .panel-title > a,
.panel-heading > .panel-title > a:hover,
.panel-heading > .panel-title > a:focus,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table > thead > tr > th {
	background-color: #34302D !important;
	border-color: #34302D !important;
	color: #f1f1f1 !important;
}

.nav > li > a {
  color: #838789;
}

.nav {
  margin-bottom: 0;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table > thead > tr > th {
  background-color: #34302D !important;
  border-color: #34302D !important;
  color: #f1f1f1 !important;
}

.tabs-inverse > .nav-pills > li > a {
  background-color: #34302D !important;
  border-color: #34302D !important;
  color: #f1f1f1 !important;
}

.tabs-inverse > .nav-pills > li > a:hover,
.tabs-inverse > .nav-pills > li > a:focus {
  color: #6db33f !important;
}

.tabs-inverse > .nav-pills > li.active > a {
  background-color: #6db33f !important;
  border-color: #6db33f !important;
  color: #f1f1f1 !important;
}


.tabs-inverse > .nav-pills > li.active > a > tab-heading > div > span.label-success {
  background-color: #34302D !important;
}

/** highlighted rows on Detail-Environment-View **/
.table tr.highlight > td {
  background-color: #999 !important;
  font-weight: bold;
}

/** Tabs-list in domain-section in JMX-View **/
.tabs-left > ul {
  max-width: 30%;
  overflow: hidden;
}

/** Circuit breaker **/
.row-centered {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.dependencies {
  line-height: 1;
}

.last {
  margin-right: 0px;
}

.menu_legend {
  margin-right: 20px;
}

.success {
  color: green;
}
.shortCircuited {
  color: blue;
}
.timeout {
  color: #FF9900;	 /* shade of orange */
}
.failure {
  color: red;
}

.rejected {
  color: purple;
}

.exceptionsThrown {
  color: brown;
}
