<div class="container">
	<div class="bottom-margin">
		<form ng-init="showPackageLoggers = false">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" title="Show package-level loggers" ng-class="{'btn-inverse': showPackageLoggers}" ng-model="showPackageLoggers" btn-checkbox ><i class="glyphicon glyphicon-folder-open"  ng-class="{'glyphicon-white': showPackageLoggers}"></i></button>
				</span>
				<input placeholder="Filter by name ..." class="form-control" type="search" ng-model="filterLogger.name" />
				<span class="input-group-btn">
					<button class="btn btn-default btn-no-border-left btn-no-border-right" title="reload list" ng-click="reload()"><i class="glyphicon glyphicon-refresh"></i></button>
				</span>
				<span title="filtered / total" class="input-group-addon">{{ filteredLoggers.length }}/{{ loggers.length }}</span>
			</div>
		</form>
	</div>
	<table class="table">
		<tbody>
			<tr ng-repeat="logger in (filteredLoggers = (loggers | classNameLoggerOnly:!showPackageLoggers | filter:filterLogger) ) | limitTo: limit track by logger.name">
				<td>
					{{ logger.name }}
				    <div class="btn-group pull-right">
				        <label class="btn btn-default btn-sm" ng-class="{'active btn-danger': logger.level== 'TRACE'}"   ng-click="setLogLevel(logger.name, 'TRACE')">TRACE</label>
				        <label class="btn btn-default btn-sm" ng-class="{'active btn-warning': logger.level=='DEBUG'}"   ng-click="setLogLevel(logger.name, 'DEBUG')">DEBUG</label>
				        <label class="btn btn-default btn-sm" ng-class="{'active btn-info': logger.level=='INFO'}"       ng-click="setLogLevel(logger.name, 'INFO')">INFO</label>
				        <label class="btn btn-default btn-sm" ng-class="{'active btn-success': logger.level == 'WARN'}"  ng-click="setLogLevel(logger.name, 'WARN')">WARN</label>
				        <label class="btn btn-default btn-sm" ng-class="{'active btn-primary': logger.level == 'ERROR'}" ng-click="setLogLevel(logger.name, 'ERROR')">ERROR</label>
				        <label class="btn btn-default btn-sm" ng-class="{'active btn-inverse': logger.level == 'OFF'}"   ng-click="setLogLevel(logger.name, 'OFF')">OFF</label>
				    </div>
	    		</td>
			</tr>
			<tr ng-show="limit < loggers.length" >
				<td>
					<button class="btn btn-default btn-link btn-block" ng-click="limit = limit + 10">show more</button>
				</td>
			</tr>
			<tr ng-show="limit < loggers.length" >
				<td>
					<button class="btn btn-default btn-link btn-block" ng-click="limit = loggers.length">show all</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>